### testテーブルを作成
- sqlite3

In [4]:
import sqlite3

# sqlite3.connectでsqlite3にアクセスできる、ファイルがない場合は新規作成される
conn = sqlite3.connect('data/sqlite3/sample.sqlite3')
# execute内にSQL文を記載することで操作が可能、下記は一旦きれいにしている
conn.execute('DROP TABLE IF EXISTS test')
conn.execute('CREATE TABLE test(id INTEGER, name TEXT, birthday)')
# close（）でアクセス終了
conn.close()

### testテーブルにデータを入れる

In [6]:
conn = sqlite3.connect('data/sqlite3/sample.sqlite3')
conn.execute("INSERT INTO test VALUES (1, '太郎', '1996-01-04')")
# commitで確定
conn.commit()
conn.close()

### testテーブルのデータを取得する

In [8]:
conn = sqlite3.connect('data/sqlite3/sample.sqlite3')
for row in conn.execute('SELECT * FROM test;'):
    print(row)

(1, '太郎', '1996-01-04')